name: Release 3X-UI for Docker

permissions:
  contents: read
  packages: write

on:
  workflow_dispatch:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.6"

      - name: Fix Go imports and tidy
        run: |
          # Tự động xóa các import thừa trước khi build Docker
          go install golang.org/x/tools/cmd/goimports@latest
          $(go env GOPATH)/bin/goimports -w .
          go mod tidy

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            hsanaeii/3x-ui
            quockhanh2004/3x-ui
          tags: |
            type=ref,event=branch
            type=ref,event=tag
            type=pep440,pattern={{version}}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          # Lưu ý: Dockerfile của bạn phải hỗ trợ multi-arch
          platforms: linux/amd64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
